html, body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

header {
  height: 6em;
  background: linear-gradient(to right, #151b54, #151b54 50%, black);
  color: #f6f6f6;
  margin 0;
  padding: 1em;
}
footer {
  height: 3em;
  background: linear-gradient(to right, #151b54, #151b54 50%, black);
  color: #f6f6f6;
  margin 0;
  padding: 0.5em 1em;
}
#content {
  min-height: 650px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
#content > article {
  position: relative;
  background-color: #f6f6f6;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 60%;
  order: 2;
  padding: 2em 1em 1em 1em;
}
#content > nav {
  background: repeating-linear-gradient(to bottom, #f6f6f6, #f6f6f6 2px, #f3f3f3 2px, #f3f3f3 4px);
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 6;
  flex-basis: 20%;
  order: 1;
  box-shadow: 0 0 15px 0 inset;
}
#content > aside {
  background: repeating-linear-gradient(to bottom, #f6f6f6, #f6f6f6 2px, #f3f3f3 2px, #f3f3f3 4px);
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 6;
  flex-basis: 20%;
  order: 3;
  box-shadow: 0 0 15px 0 inset;
}

@media all and (max-width: 960px) {
  #content {
    flex-direction: column;
  }
  #content > article, #content > nav, #content > aside {
    order: 0;
  }
  header, footer, #content > nav, #content > aside {
    min-height: 50px;
  }
  #content > nav, #content > aside {
    box-shadow: 0 15px 15px -15px inset;
  }
}

code, pre {
  font-family: 'Source Code Pro', Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 1.0rem;
}
code:not(.javascript):not(.html) {
  padding: 0.2em 0;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.hljs {
  padding: 1em;
  line-height: 1.2rem;
}
.hljs-ln td.hljs-ln-numbers {
  user-select: none;
  text-align: right;
  vertical-align: top;
  color: #666;
  border-right: 1px solid #666;
  padding-right: 0.25em;
}
.hljs-ln td.hljs-ln-code {
  padding-left: 0.5em;
}

h2 {
  border-bottom: 1px solid lightgray;
}

header h1 {
  margin: 0;
  margin-top: 0.35em;
  border-bottom: none;
  font-size: 4em;
  font-weight: normal;
}
header h1 a {
  text-decoration: none;
  color: #f6f6f6;
}
header img#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#badges {
  text-align: center;
}
#badges a {
  text-decoration: none;
}
